.greenBtn {
  width: 100%;
  background: #9dd558;
  border-radius: 18px;
  height: 55px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

.empty_cart,
.order_successful {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  .greenBtn {
    svg {
      transform: rotateY(180deg);
      margin-right: 10px;
    }
  }
}

.cart_image {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 20px;
  }

  p {
    width: 70%;
    text-align: center;
    opacity: 0.4;
  }
}

.order_successful {
  display: none;
}
